.container {
  display: flex;
}

.grid {
  width: 220px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #264653;
  border: 3px solid #e9d8a6;
  border-left: none;
  border-right: none;
  border-radius: 4px;
}

.grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #264653;
}

.tetromino {
  background-color: #264653;
  border: 1px solid #264653;
}

.mini-grid {
  width: 88px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  background-color: #264653;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #264653;
}

body {
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #264653;

  margin: 0;
  padding: 0;
}

.display-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  width: 160px;
  height: 440px;
  background-color: #264653;
  padding: 10px;
  position: relative;
}

.button {
  border-radius: 4px;
  background-color: #e9d8a6;
  color: #264653;
  padding: 8px;
  cursor: pointer;
  border: 3.5px solid #264653;
}

.button:hover {
  border: 3.5px solid #c4af70;
}

.score {
  color: #e9d8a6;
}

.oneLeft {
  margin-left: 20px;
}

.start-over-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  color: #e9d8a6;
  border: 1px solid #e9d8a6;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  padding-bottom: 10px;
}

.start-over-btn:hover {
  border: 3px solid #e9d8a6;
  padding: 8px;
}
