.container {
  display: flex;
}

.grid {
  width: 220px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #264653;
  border: 3px solid #e9d8a6;
  border-left: none;
  border-right: none;
  border-radius: 4px;
}

.grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #264653;
}

.tetromino {
  background-color: blue;
  border: 1px solid #264653;
}

.mini-grid {
  width: 88px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  background-color: #264653;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #264653;
}

body {
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #264653;
}

.display-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  width: 160px;
  height: 240px;
  background-color: #264653;
  padding: 10px;
}

.button {
  border-radius: 2px;
  background-color: #e9d8a6;
  color: #264653;
  padding: 10px;
}

.score {
  color: #e9d8a6;
}

.oneLeft {
  margin-left: 20px;
}
